.form{
    width: 25%;
    margin: 0 auto;
}
.form > input {
    padding:  12px 20px;
    width: 70%;
    border: solid 1px #E2E2E2;
    border-radius: 5px;
}
.form > button {
    border:  none;
    outline: none;
    padding: 10px 12px;
    background-color: #1815d7;
    border-radius: 5px;
    color: #FFFFFF;
}